/* Workspace for Dnyanesh Mulay */
#page1{
    height: 100vh;
     }
#nav{
    height: 120px;
    background-color:yan;
    display: flex;
    position: sticky;
}    
#logo{
    height: 50px;
    width: 200px;
    background-color: blueviolet;
}
#navbar{
    height: 70px;
    width: 100%;
    margin-top: 10px;
    background-image: url(../Assets/photo-1547936785-c57315d64694.avif);
    border-radius: px;
    border-top-right-radius: 70px; 
    border-bottom-left-radius: 70px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#logo{
    color: white;
    margin-left: 5px;
    cursor: pointer;
    font-family:Arial, Helvetica, sans-serif;
    font-size:large;
    text-decoration: underline;
}
#Menu{
   border-left: 3px solid white;
}
img{
    height: 120px;
}
#ok{
    position: absolute;
    top: 37px;
    font-size: x-large;
    left: 60px;
    color:lightgreen;
    font-weight: 600;
}
#body>img{
    height: 500px;
    margin-top: 80px;
    width: 800px;
}
#body{
    display: flex;
    
}


