/* Main Styling (do not change!) */
#page1{
    height: 100vh;
    background: linear-gradient(to bottom right, rgb(103, 58, 183), rgb(186, 104, 200), rgb(229, 204, 255));
    
}
/* Main Styling (do not change!) */
#page2{
    height: 100vh;
    background: linear-gradient(to top right, rgb(103, 58, 183), rgb(186, 104, 200), rgb(229, 204, 255));
}
/* Main Styling (do not change!) */
#page3{
    height: 100vh;
    background: linear-gradient(to bottom right, rgb(103, 58, 183), rgb(186, 104, 200), rgb(229, 204, 255));
}
/* Main Styling (do not change!) */
#page4{
    height: 100vh;
    background: linear-gradient(to top right, rgb(103, 58, 183), rgb(186, 104, 200), rgb(229, 204, 255));
}
